<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:left">
  <h1>
    Welcome to {{pageTitle}}!!
  </h1>
  <pm-products></pm-products>
</div> -->

<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="nvbar-brand">{{pageTitle}}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link" [routerLink]="['/welcome']">Home</a></li>
    <li><a class="nav-link" [routerLink]="['/products']">Porduct List</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>